body {
    /* background: #0083B0; */
    background: -webkit-linear-gradient(to right, #0083B0, #00B4DB);
    background: linear-gradient(to right, #0083B0, #00B4DB);
    min-height: 100vh;
}

.form-control::placeholder {
    font-style: italic;
    font-size: 0.85rem;
    color: #aaa;
}

.card-body {
    width: 1200px;
}

.table-holder {
    display: flex;
    justify-content: center;
    Margin-top: 40px;
}

.welcome {
    margin-top: 40px;
    margin-left: 30px;
    font-weight: 700;
}
